<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top bg-primary">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-primary-emphasis">© 2023 DUMBO cencosud </span>
    </div>
  
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3 d-flex align-items-center gap-2">
        <a class="text-primary-emphasis"
        href="mailto:matias.nunez01@alumnos.ucn.cl">Contacto
        </a>
      </li>
    </ul>
  </footer>