

<div class="row justify-content-center">
    <form class="d-flex">
        <input id="search-user" class="form-control me-sm-2" type="text" placeholder="Search" (input)="filterResults($event)" #filter>
        
      </form>
    <div class="col-10"> 
        <table class="table table-hover table-responsive-xxl">
        <thead>
        <tr class="table-primary">
            <th scope="col" class="align-middle" style="width: 10%;">Rut</th>
            <th scope="col" class="align-middle" style="width: 10%;">Nombre</th>
            <th scope="col" class="align-middle" style="width: 15%;">Apellido</th>
            <th scope="col" class="align-middle" style="width: 25%;">Email</th>
            <th scope="col" class="align-middle" style="width: 10%;">Puntos</th>
            <th scope="col" class="align-middle text-center" style="width: 15%;">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of filteredUserList">
            <td>{{ user['rut'] | titlecase }}</td> 
            <td>{{ user['name'] | titlecase }}</td>
            <td>{{ user['lastName'] | titlecase }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['points'] }} puntos</td>
            <td>
                <div class="d-flex flex-row gap-2 ">
                    <button
                        type="button"
                        class="btn btn-outline-secondary"
                        routerLink="/users/{{ user.id }}"
                    >
                        Editar
                    </button>
                    <button
                        type="button"
                        (click)="deleteUser(user.id)"
                        class="btn btn-outline-secondary"
                        
                    >
                        Eliminar
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    </div>           
</div>